
/*-----여백 전-----*/
/**** pc ****/
@media only all and (min-width:1301px) {
 .inner{  width: 100%; padding: 0px 5em}
}
/**** 테블릿 ****/
@media all and (max-width:1300px) and (min-width:768px) {
 .inner{  width: 100%; padding: 0px 20px}
}
/**** 모바일 ****/
@media only all and (max-width:767px) {
 .inner{  width: 100%; padding: 0px 1em}
}

/*-----컨텐츠 여백 -----*/
/**** pc ****/
@media only all and (min-width:1025px) {
.contbg{  max-width: 1400px; margin: 0px auto; }
.incont{ max-width: 1300px; margin: 0px auto;}
.imgbox_center{width: 100%; float: left; text-align: center}
}
/**** 테블릿 ****/
@media all and (max-width:1024px) and (min-width:768px) {
.contbg{ width: 100%; float: left; height: auto}
.incont{  width: 100%; float: left; padding: 0px 20px; box-sizing: border-box}
.imgbox_center{width: 100%; float: left; text-align: center}
}
/**** 모바일 ****/
@media only all and (max-width:767px) {
.contbg{ width: 100%; float: left; height: auto}
.incont{  width: 100%; float: left}
.imgbox_center{width: 100%; float: left; text-align: center}
.imgbox_center img{width: 100%;}
}

/*-----컨텐츠 여백 -----*/
/**** pc ****/
@media only all and (min-width:1025px) {
.sp_mb{   margin-bottom:80px; }
.sp_mt{   margin-top: 80px ; }
}
/**** 테블릿 ****/
@media all and (max-width:1024px) and (min-width:768px) {
.sp_mb{  margin-bottom:50px; }
.sp_mt{  margin-top: 50px ; }
}
/**** 모바일 ****/
@media only all and (max-width:767px) {
.sp_mb{  margin-bottom:20px; }
.sp_mt{  margin-top: 20px ;  }
}
/*-----서브 상단영역 -----*/
/**** pc ****/
@media only all and (min-width:1301px) {
header.subhead1{ width: 100%;  height:60px; float: left;  border-bottom: 1px solid rgba(255,255,255,0.2);}
header.subhead1 .inner .logo{float: left;  width: 130px; height:60px; background: url(../images/com/logo.png); background-size:132px; background-position: center center; background-repeat: no-repeat;  display: flex;
  justify-content: center;
  align-items: center; }

header.subhead1 .inner .fr{float: right;   }
header.subhead1 .inner .fr .state{ float: left; margin-right: 40px; position: relative; height: 60px;  display: flex;
  justify-content: center;
  align-items: center;  }
header.subhead1 .inner .fr .state .photo{ position: absolute; top: 15px; left: 3px;  width: 30px; height: 30px;  overflow: hidden; border-radius: 50px; z-index: 1; cursor: pointer}
header.subhead1 .inner .fr .state .photo img{ width: 100%; }
header.subhead1 .inner .fr .state .color{ position: absolute; left: 0px;  top: 12px; width: 36px; height: 36px; overflow: hidden; border-radius: 50px;; z-index: 0 }

header.subhead1 .inner .fr .topmenu{ float: left;  }
header.subhead1 .inner .fr .topmenu ul li{ float: left;  color: #000   }
header.subhead1 .inner .fr .topmenu ul li a{ font-family: 'Noto Sans KR', sans-serif;   font-weight: 700; padding: 0px 20px;font-size: 14px; line-height: 60px ; }


}
/**** 테블릿 ****/
@media all and (max-width:1300px) and (min-width:769px) {

header.subhead1{ width: 100%;  height:60px; float: left;  border-bottom: 1px solid rgba(255,255,255,0.2);}
header.subhead1 .inner .logo{float: left;  width: 130px; height:60px; background: url(../images/com/logo.png); background-size:132px; background-position: center center; background-repeat: no-repeat;  display: flex;
  justify-content: center;
  align-items: center; }

header.subhead1 .inner .fr{float: right;   }
header.subhead1 .inner .fr .state{ float: left; margin-right: 50px; position: relative; height: 60px;  display: flex;
  justify-content: center;
  align-items: center;  }
header.subhead1 .inner .fr .state .photo{ position: absolute; left: 0px; top: 15px; width: 30px; height: 30px;  overflow: hidden; border-radius: 50px; z-index: 1; cursor: pointer}
header.subhead1 .inner .fr .state .photo img{ width: 100%; }
header.subhead1 .inner .fr .state .color{ position: absolute; left: -3px; top: 12px;width:36px; height: 36px; overflow: hidden; border-radius: 50px;z-index: 0; }

header.subhead1 .inner .fr .topmenu{ float: left;  }
header.subhead1 .inner .fr .topmenu ul li{ float: left;  color: #000   }
header.subhead1 .inner .fr .topmenu ul li a{ font-family: 'Noto Sans KR', sans-serif;   font-weight: 700; padding: 0px 20px;font-size: 14px; line-height: 60px ; }


}
/**** 모바일 ****/
@media only all and (max-width:768px) {

header.subhead1{ width: 100%;  height:60px; float: left;  border-bottom: 1px solid rgba(255,255,255,0.2); position: fixed; background-color: #fff; z-index: 999}
header.subhead1 .inner .logo{float: left;  width:100%; height:60px; background: url(../images/com/logo.png); background-size:120px; background-position: center center; background-repeat: no-repeat;  display: flex;
  justify-content: center;
  align-items: center; }

header.subhead1 .inner .fr{float: right;   }
header.subhead1 .inner .fr .state{ position: absolute; right:30px; top: 15px; position: relative; height: 60px;  }
header.subhead1 .inner .fr .state .photo{ position: absolute; left: 0px;  width: 30px; height: 30px;  overflow: hidden; border-radius: 50px; z-index: 1;  cursor: pointer}
header.subhead1 .inner .fr .state .photo img{ width: 100%; }
header.subhead1 .inner .fr .state .color{ position: absolute; left: -3px;top: -3px; width: 36px; height: 36px; overflow: hidden; border-radius: 50px; z-index: 0;}

header.subhead1 .inner .fr .topmenu{ float: left;  display: none }
header.subhead1 .inner .fr .topmenu ul li{ float: left;  color: #000   }
header.subhead1 .inner .fr .topmenu ul li a{ font-family: 'Noto Sans KR', sans-serif;   font-weight: 700; padding: 0px 20px;font-size: 14px; line-height: 60px ; }

}










/*-----서브 상단영역 -----*/
/**** pc ****/
@media only all and (min-width:1025px) {
header.intro{ width: 100%;  height:60px; float: left;  border-bottom: 1px solid rgba(255,255,255,0.2) ; background: url("../images/main/intro_topbg.jpg")}
header.intro .inner .logo{float: left;  width: 130px; height:60px;  background-size:132px; background-position: center center; background-repeat: no-repeat;  display: flex;
  justify-content: center;
  align-items: center; }

header.intro .inner .fr{float: right;   }
header.intro .inner .fr .state{ float: left; margin-right: 40px; position: relative; height: 60px;  display: flex;
  justify-content: center;
  align-items: center;  }
header.intro .inner .fr .state .photo{ position: absolute;  left: 3px;  top: 15px;width: 30px; height: 30px;  overflow: hidden; border-radius: 50px; z-index: 1; cursor: pointer}
header.intro .inner .fr .state .photo img{ width: 100%; }
header.intro .inner .fr .state .color{ position: absolute; left: 0px;  top: 12px; width: 36px; height: 36px; overflow: hidden; border-radius: 50px;; z-index: 0 }

header.intro .inner .fr .topmenu{ float: left;  }
header.intro .inner .fr .topmenu ul li{ float: left;  color: #fff   }
header.intro .inner .fr .topmenu ul li a{ font-family: 'Noto Sans KR', sans-serif;   color: rgba(255,255,255,0.7); font-weight: 700; padding: 0px 20px;font-size: 14px; line-height: 60px ; transition: all 0.5s;
-moz-transition: all 0.5s; /* Firefox 4 */
-webkit-transition: all 0.5s; /* Safari and Chrome */
-o-transition: all 0.5s; /* Opera */

}

header.intro .inner .fr .topmenu ul li a:hover{ font-family: 'Noto Sans KR', sans-serif;   color: #fff ; font-weight: 700; padding: 0px 20px;font-size: 14px; line-height: 60px ; }


}
/**** 테블릿 ****/
@media all and (max-width:1024px) and (min-width:768px) {

header.intro{ width: 100%;  height:60px; float: left;  border-bottom: 1px solid rgba(255,255,255,0.2) ; background: url("../images/main/intro_topbg.jpg")}
header.intro .inner .logo{float: left;  width: 130px; height:60px;  background-size:132px; background-position: center center; background-repeat: no-repeat;  display: flex;
  justify-content: center;
  align-items: center; }
header.intro .inner .fr{position: absolute; top: 0px; right: 3px;  }
header.intro .inner .fr .state{ float: left; margin-right: 40px; position: relative; height: 60px;  display: flex;
  justify-content: center;
  align-items: center;  }
header.intro .inner .fr .state .photo{ position: absolute; left: 3px;  top: 15px;  width: 30px; height: 30px;  overflow: hidden; border-radius: 50px; z-index: 1; cursor: pointer}
header.intro .inner .fr .state .photo img{ width: 100%; }
header.intro .inner .fr .state .color{ position: absolute; left: 0px;  top: 12px; width: 36px; height: 36px; overflow: hidden; border-radius: 50px;; z-index: 0 }

header.intro .inner .fr .topmenu{ float: left;  }
header.intro .inner .fr .topmenu ul li{ float: left;  color: #fff   }
header.intro .inner .fr .topmenu ul li a{ font-family: 'Noto Sans KR', sans-serif;   color: #fff ; font-weight: 700; padding: 0px 20px;font-size: 14px; line-height: 60px ; }



}
/**** 모바일 ****/
@media only all and (max-width:767px) {

header.intro{ width: 100%;  height:60px; float: left;  border-bottom: 1px solid rgba(255,255,255,0.2); background-color: #fff; position: fixed; z-index: 999}
header.intro .inner .logo{float: left;  width:100%; height:60px; background: url(../images/com/logo.png); background-size:120px; background-position: center center; background-repeat: no-repeat;  display: flex;
  justify-content: center;
  align-items: center; }
header.intro .inner .logo img{display: none }
header.intro .inner .fr{float: right;   }
header.intro .inner .fr .state{ position: absolute; right:50px; top: 10px; position: relative; height: 60px;  }
header.intro .inner .fr .state .photo{ position: absolute; left: 3px;  top:  3px;  width: 30px; height: 30px;  overflow: hidden; border-radius: 50px; ; z-index: 9;  cursor: pointer}
header.intro .inner .fr .state .photo img{ width: 100%; }
header.intro .inner .fr .state .color{ position: absolute; left: 0px; top:  0px; width: 36px; height: 36px; overflow: hidden; border-radius: 50px; }

header.intro .inner .fr .topmenu{ float: left;  display: none }
header.intro .inner .fr .topmenu ul li{ float: left;  color: #000   }
header.intro .inner .fr .topmenu ul li a{ font-family: 'Noto Sans KR', sans-serif;   font-weight: 700; padding: 0px 20px;font-size: 14px; line-height: 60px ; }

}


/**** pc ****/
@media only all and (min-width:1024px) {.mobile_menu{display: none}
}
/**** 테블릿 ****/
@media all and (max-width:1023px) and (min-width:768px) {.mobile_menu{display:block}
}
/**** 모바일 ****/
@media only all and (max-width:767px) {.mobile_menu{display: block}

}









/*-----하단 공통 -----*/
/**** pc ****/
@media only all and (min-width:1301px) {
footer{ width: 100%; float: left; background-color: #1c1c1c; padding: 0px 0px; margin-top: -5px}

footer .bottom_liink{ width: 100%; float: left; border-bottom: 1px solid #404040;padding: 20px 0px}
footer .bottom_liink .inner a{ font-size: 14px; color: #fff; margin-right: 10px}
footer .bottom_liink .inner span.sp{ font-size: 14px; color: #fff; margin-right: 10px}
footer .bottom_copy{ width: 100%; float: left;padding: 30px 0px }
footer .bottom_copy .inner .fl{width: 50%;float: left;font-size: 12px; color: #ccc; line-height: 20px }
footer .bottom_copy .inner .fr{width: 50%;float: left;position: relative; display:flex;justify-content: flex-end;  flex-direction:row; }
footer .bottom_copy .inner .fr .sns_icon{width: 40px; height: 40px; border-radius: 50px; border: 1px solid #666;   display: flex;
  justify-content: center;
  align-items: center; margin-left: 10px }
footer .bottom_copy .inner .fr .sns_icon  img{ width:25px; }


}
/**** 테블릿 ****/
@media all and (max-width:1300px) and (min-width:768px) {
footer{ width: 100%; float: left; background-color: #1c1c1c; padding: 0px 0px}
footer .bottom_liink{ width: 100%; float: left; border-bottom: 1px solid #404040;padding: 20px 0px}
footer .bottom_liink .inner a{ font-size: 14px; color: #fff; margin-right: 10px}
footer .bottom_liink .inner span.sp{ font-size: 14px; color: #fff; margin-right: 10px}
footer .bottom_copy{ width: 100%; float: left;padding: 30px 0px }
footer .bottom_copy .inner .fl{width: 50%;float: left;font-size: 12px; color: #ccc; line-height: 20px }
footer .bottom_copy .inner .fr{width: 50%;float: left;position: relative; display:flex;justify-content: flex-end;  flex-direction:row; }
footer .bottom_copy .inner .fr .sns_icon{width: 40px; height: 40px; border-radius: 50px; border: 1px solid #666;   display: flex;
  justify-content: center;
  align-items: center; margin-left: 10px }
footer .bottom_copy .inner .fr .sns_icon img{ width:25px; }
}
/**** 모바일 ****/
@media only all and (max-width:767px) {

footer{ width: 100%; float: left; background-color: #1c1c1c; padding: 0px 0px}
		.footer_bpd{padding-bottom: 80px !important}
footer .bottom_liink{ width: 100%; float: left; border-bottom: 1px solid #404040;padding: 15px 0px}
footer .bottom_liink .inner a{ font-size: 12px; color: #fff; margin-right: 5px}
footer .bottom_liink .inner span.sp{ font-size: 14px; color: #fff; margin-right: 10px}
footer .bottom_copy{ width: 100%; float: left;padding: 10px 0px }
footer .bottom_copy .inner .fl{width: 100%;float: left;font-size: 11px; color: #ccc; line-height: 18px; margin-bottom: 10px }
footer .bottom_copy .inner .fr{width: 100%;float: left;position: relative; display:flex; flex-direction:row; }
footer .bottom_copy .inner .fr .sns_icon{width: 35px; height: 35px; border-radius: 50px; border: 1px solid #666;   display: flex;
  justify-content: center;
  align-items: center; margin-left: 5px }
footer .bottom_copy .inner .fr .sns_icon img{ width:25px; }

}


.icon_allmenu{ position:  fixed; left: 15px; top:12px; z-index: 999; transition: all 0.5s;
-moz-transition: all 0.5s; /* Firefox 4 */
-webkit-transition: all 0.5s; /* Safari and Chrome */
-o-transition: all 0.5s; /* Opera */ background: url("../images/icon/icon_allmenu.svg") ; background-repeat: no-repeat; background-position: center center; background-size: cover ; width: 32px; height: 32px;}
.icon_allmenu img{ width:32px; }
/* .icon_allmenu.active{ position:  fixed; left: 200px; top:12px; z-index: 999 ;background: url("../images/icon_close.svg") ; background-repeat: no-repeat; background-position: center center; background-size: cover ; width: 32px; height: 32px}
 */
